.main_box {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.main_content_box {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px 30px 30px 30px;
  transition: all 0.5s;
  position: relative;
}
