.skill_container {
  display: flex;
  padding: 96px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.skill_box {
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.skill_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.skills_name_icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.skill_icon_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.skill_first_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
